@import "~taro-ui/dist/style/components/flex.scss";
@import "~taro-ui/dist/style/components/card.scss";

.header {
    .date {
        font-weight: 700;
        color: #2b1216;
        font-family: 'Courier New', Courier, monospace;
    }
    .weather {
        display: inline-block;
        line-height: 120px;
    }
}
.type-card-wrap {
    margin: 20px 0;
}