@mixin maring-and-padding-spacing() {
    $gapLengths: (0, 10, 20, 30, 40, 50, 60);
    $direction: ('top', 'right', 'bottom', 'left');
    @each $dir in $direction {
        @each $len in $gapLengths {
            .padding-#{$len} {
                padding: #{$len}px;
            }
            .margin-#{$len} {
                margin: #{$len}px;
            }
            .padding-#{$dir}-#{$len} {
                padding-#{$dir}: #{$len}px;
            }
            .margin-#{$dir}-#{$len} {
                margin-#{$dir}: #{$len}px;
            }
        }
    }
    @each $len in $gapLengths {
        .padding-vertical-#{$len} {
            padding-top: #{$len}px;
            padding-bottom: #{$len}px;
        }
    }
}

@mixin classes($prefix,
$property,
$map) {
    @each $key,
    $value in $map {
        .#{$prefix + $key} {
            #{$property}: $value;
        }
    }
}
